.navbar-menu{
  width:90%;
}

.navbar-nav{
  width:100%;
  justify-content: space-around
}

.hidden-mobile-nav {
  display: none
}

.hamburger-menu-closed {
  display:none
}

.close-btn-hidden {
  display:none
}

@media (max-width: 800px) { 
  .mobile-nav {
    width:100%
  }
}