nav {
  display:flex;  
  padding:0 5%
}

.logo img {
  width: 70px;
  margin: 15px
}

.nav-list {
  list-style: none;
  display:flex;
  justify-content: space-between;
  width: calc(100% - 70px);
  padding-left:0;
  align-items:center;
  padding: 0 2%
}